extends layout

block content
  h1 #{title}
  p #{description}
  #player
  
  script(src="https://cdn.jsdelivr.net/npm/clappr@latest/dist/clappr.min.js")
  script
    | var player = new Clappr.Player({source: '#{variant_urls[0].url}', parentId: "#player"});